.App {
  /* position: fixed; */
  width: 100vw;
}
.background-container {
  height: fit-content;
  position: relative;
}
.imagebackground {
  height: 30vh;
  background-size: cover;
  background-image: url("./assets/bg-cafe.jpg");
}
.background {
  height: 70vh;
  background-color: #111315;
}