.App {
  /* position: fixed; */
  width: 100vw;
  background-color: #111315;
  min-height: 200vh;
  overflow: hidden;
}
.background-container {
  height: 40vh;
  position: relative;
}
.imagebackground {
  height: 100%;
  background-size: cover;
  background-image: url("./assets/bg-cafe.jpg");
}